h1.logo{font-size:38px;height:72px;}
h1.logo img{float:left;height:46px;margin:10px 5px 0px 0px;}
.mark{color:#F9C845;}
.button.orange{background:#F9C845;}
.button.tall{height:48px !important;line-height:46px !important;}
.paragraph{padding-bottom:12px;display:block;}
.growl .icon{font-size:56px !important;}
.growl strong{font-size:8px;}
.sky{position:relative;z-index:2;height:160px;overflow:hidden;background:#353b6c url(../../images/app-skyline-night.png) repeat-x 350% 100%;}
.middle-ground{position:relative;z-index:1;height:120px;background:#292230 url(../../images/app-hills.png) no-repeat 50% 100%;}
.ground{position:absolute;z-index:1;left:0;right:0;bottom:0;top:365px;min-height:460px;overflow:hidden;}
.content{position:absolute;width:auto;height:auto;margin:0 10px 10px;top:0;left:0;right:0;bottom:0;z-index:3;}
.content.menu{margin-top:32px;}
.content .small{font-size:8px;line-height:18px;}
.game{display:block;margin-top:16px;}
.game.options a{display:block;width:100%;height:48px;padding:0px;margin-bottom:6px;color:#fff;font-size:20px;line-height:48px;text-align:left;}
.game.options .icon{height:48px;width:48px;float:left;margin-right:8px;font-size:32px;line-height:48px;text-align:center;}
.copyright{width:100%;position:absolute;bottom:0px;text-align:center;}
form{margin:0;}
.onBottom{position:absolute;bottom:0;left:0;right:0;}
.onMiddle{height:auto;width:256px;margin-right:auto;margin-left:auto;display:block;text-align:center;}
.life{float:right;margin-right:10px;}
.life .icon{height:20px;color:#ff0038;font-size:24px;text-shadow:0px 2px #ffffff,0px -2px #ffffff,2px 0px #ffffff,#ffffff -2px 0px #ffffff;}
.life .die{color:#ccc;}
.progress{height:24px;border:2px solid #fff;}
.progress .value{width:0%;height:100%;background:#f9c845 url(../../images/app-bg-egg.png);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.track{height:320px;-webkit-transform-style:preserve-3d;opacity:0;-webkit-transform:translate3d(100%, 0, 0);-moz-transform:translate3d(100%, 0, 0);-ms-transform:translate3d(100%, 0, 0);-o-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);}
.unload{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;opacity:0;-webkit-transform:translate3d(-100%, 0, 0);-moz-transform:translate3d(-100%, 0, 0);-ms-transform:translate3d(-100%, 0, 0);-o-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
.load{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;opacity:1;-webkit-transform:translate3d(0%, 0, 0);-moz-transform:translate3d(0%, 0, 0);-ms-transform:translate3d(0%, 0, 0);-o-transform:translate3d(0%, 0, 0);transform:translate3d(0%, 0, 0);}
.music{display:block;width:164px;height:164px;margin:16px auto;font-size:92px;-webkit-transform-style:preserve-3d;}
.music.playing{-webkit-box-shadow:0px 0px 10px #ffffff;-moz-box-shadow:0px 0px 10px #ffffff;box-shadow:0px 0px 10px #ffffff;-webkit-animation:storyboard-playing 1s infinite;}
.music.error{-webkit-animation:storyboard-error 0.2s 5;}
.music.success{-webkit-animation:storyboard-success 1s infinite;}
.music img{width:164px;height:164px;}
.profile{margin-top:10px;display:block;height:100px;}
.profile img{height:92px;width:92px;border:4px solid #fff;float:left;margin-right:10px;}
.profile strong{display:block;font-size:12px;line-height:32px;padding-top:12px;padding-bottom:4px;}
.profile small{display:block;}
