@font-face{font-family:'Subotron Bonus';src:url(../../fonts/subotron_bonus.otf);font-weight:normal;font-style:normal;}.icon{font-family:'Subotron Bonus';}
.icon.mario:before{content:'a';}
.icon.heart:before{content:'q';}
.icon.death:before{content:'t';}
.icon.mario:before{content:'v';}
.icon.bomb:before{content:'u';}
.icon.star:before{content:'w';}
.icon.mushroom:before{content:'x';}
.icon.monkey:before{content:'c';}
.icon.question:before{content:'3';}
.icon.cherry:before{content:'h';}
.icon.alien:before{content:'j';}
.icon.alien_up:before{content:'k';}
